/* #region Common */
:root {
    --bs-dark-cyan: #2c3e50;
    --bs-light-cyan: #3a546d;
}
/* #endregion Common */
/* #region Debug */
.debug [class^="container"] {
    border: 1px dashed red;
}

/* .debug [class^="col"] {
    background-color: black;
    border: 1px solid white;
} */


.debug #about .col {
    height: 230px;
}

.debug #contact .contact_form {
    height: 500px;
}


.debug .footer_top .col {
    height: 120px;
}

.debug .footer_bottom {
    color: white;
}
/* #endregion Debug */
/* #region Utilities */
.jumbotron,
#about {
    background-color: var(--bs-teal);
}

.footer_top {
    background-color: var(--bs-light-cyan);
}

header,
.footer_bottom {
    background-color: var(--bs-dark-cyan);
}

.py_1 {
    padding: 0.75rem 0;
}
/* #endregion Utilities */
/* #region Jumbotron */


/* #endregion Jumbotron */




/**** footer bg: $cyan-800 and $cyan-900 *****/


