.debug nav {
    height: 90px;
}

.debug [class^="container"] {
    border: 1px dashed red;
}

.debug [class^="col"] {
    background-color: black;
    border: 1px solid white;
}

.debug .nav .row {
    height: 100%;
}

.debug .banner {
    height: 500px;
    background-color: aqua;
}

.debug .portfolio .col {
    height: 360px;
} 